section.hero
    .container
        .hero__row
            .hero__col.hero__col--big
                h1.hero__title Мобильное приложение
                p.hero__subtitle для интернет-магазина мелкооптовой и розничной торговли
                .hero__box
                    p.hero__text Существуют различные мнения по&nbsp;поводу целесообразности разработки собственного мобильного приложения для небольших торговых предприятий. Несмотря на то, что его преимущества перед web-версией очевидны и на рынке уже невозможно найти крупных игроков, не имеющих собственного приложения — среди компаний поменьше это все еще редкость
                    +icon('icon-hero-big', 'hero__icon--big', '568', '507')
            .hero__col.hero__col--small
                +icon('icon-hero-small', 'hero__icon--small', '325', '260')
                p.hero__description Причины такого положения дел, на наш взгляд, заключаются в том, что для большинства предприятий, собственное мобильное приложение&nbsp;кажется чем-то очень дорогим и сложным — тем, что просто не окупится. Поэтому в этом кейсе мы хотели бы рассказать об удачном опыте использования мобильного приложения в небольшой&nbsp;компании.
        