section.power
    .power__top
        .power__img-box
            img.power__image(src="static/images/content/master.png" width="1203" height="826" alt="Изображения мастера Йоды")
        .power__inner
            .container
                .power__content
                    h2.power__title Пробуждение силы
                    p.power__subtitle В течение 2 месяцев разработка была полностью завершена.
                    p.power__description За это время мы несколько раз проводили совещания с участием заказчика: создание приложения полностью происходило у него на глазах. Такой подход позволил компании детальнее оценить открывающиеся возможности и внести дополнительные правки, которых не было в первоначальном варианте. В основном они касались маркетинга, так как изначально сама цель приложения заключалась просто в повышении удобства заказов материалов прямо со строительных объектов.
    .container
        .power__footer
            p.power__text Внесенные в процессе правки существенно расширили функционал приложения. Оно научилось оповещать о проводимых рекламных акциях, скидках, поступлении товаров на склад, если они были оформлены по предварительному заказу, и многому другому. В отличие от других каналов связи — почты или звонков — этот способ более простой и надежный. Чтобы увидеть все оповещения, клиенту достаточно зайти в приложение, а не перебирать электронную почту или вспоминать, что было рассказано в телефонном разговоре
            img.power__notification(src="static/images/content/power.png" width="503" height="427" alt="Картинка с оповещением")