section.requirements
    .requirements__galaxy.galaxy
        .container
            h2.galaxy__title Однажды, в далекой-далекой галактике…
            p.galaxy__text К нам обратился представитель интернет&nbsp;магазина, занимающегося продажами&nbsp;строительных материалов и рассказал:
            +icon('icon-triangle', 'galaxy__icon', '167', '107')
    .requirements__tasks.tasks
        .container
            .tasks__inner
                .tasks__col.tasks__col--left
                    img.tasks__men(src="static/images/content/man.png" width="616" height="616" alt="Иконка мужчины" data-da=".galaxy .container,1279, last")
                    p.tasks__primary-wishes Кроме этого, в приложении было необходимо реализовать функционал для маркетингового взаимодействия с клиентами. Основные требования заказчика включали:
                    ul.tasks__list
                        li.tasks__item
                            span полноценный каталог всех товаров и услуг с автоматической синхронизацией с основным сайтом;
                        li.tasks__item
                            span быстрый поиск по товарам, заказам, услугам и дополнительным разделам;
                        li.tasks__item
                            span обратная связь в приложении в виде чата или звонков;
                        li.tasks__item
                            span возможность оформить заявку на непредставленные в каталоге по каким-либо причинам материалы.
                .tasks__col.tasks__col--right
                    .tasks__box(data-da=".tasks__col--left,1279, first")
                        p.tasks__quote — Мы ведём розничную и мелкооптовую торговлю и хотели бы повысить удобство и доступность заказов, которые зачастую производятся прямо со строительного объекта. Для этого они решили сделать полнофункциональное приложение, которое смогло бы полностью удовлетворить потребности клиентов без необходимости открывать браузер и переходить на сайт компании.
                        .tasks__picture
                            +icon('icon-like', 'tasks__icon--like', '145', '145')
                            img.tasks__image(src="static/images/content/prize.jpg" width="355" height="301" alt="Картинка с сообщением о призе")
                    p.tasks__additional Дополнительное требование появилось в процессе обсуждений возможностей приложения с заказчиком на совещаниях:
                    span.tasks__item возможность информирования о проводимых рекламных акциях, скидках, а также операциях по заказам в приложении с помощью технологии push-уведомлений.
            p.tasks__footer Приложение должно быть удобным как для представителей строительных организаций, так и для клиентов, решивших сделать ремонт или затеявших небольшое строительство собственными силами.

