section.summary
    .container
        h2.summary__title Что в итоге?
        .summary__wrapper
            p.summary__text.summary__text--big Разработанное при активном участии заказчика мобильное приложение смогло буквально с ходу повысить количество заказов на 7%. На разработку было затрачено 2 месяца, приложение кроссплатформенное и недорогое. Позволяет полноценно просматривать каталоги с товаром, выполнять быстрый поиск по каталогу, совершать заказы, извещать клиента об акциях и скидках
            +icon('icon-summary', 'summary__icon', '447', '345')
            p.summary__text Удобное мобильное приложение положительно влияет на повторные покупки и приток новых клиентов. Мы, а самое главное и наш заказчик, считаем, что справились с поставленной задачей. И что тоже немаловажно — ответили на вопрос: нужно ли собственное мобильное приложение для развивающихся, пока еще небольших компаний.