// Colors
$white: #fff;
$black: #000;

// Sizes
$base-font-size: 30px;

$tablet: 1279px;
$mobile: 767px;
$maxWidthContainer: 1520;
$minWidth: 320px;
$maxWidth: 1920;

$content: 1520px;

// Fonts

$basefont: 'Raleway', Arial, sans-serif;